<mat-card>
  <mat-card-title>
    <h3>Hey there!</h3>
  </mat-card-title>
  <mat-card-content>
    <p>
      The app helps you to find github user details. You have to first enroll
      with your name and email address to start using the app.
    </p>
    <p>
      Enter the github username and tada! There is the information you asked
      for!🎉
    </p>
    <p>
      The details are not saved anywhere. It's just for demonstrating the
      navigation between pages.
    </p>
    <p>github api is used for getting the user details.</p>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="float-right"
      (click)="next()"
    >
      NEXT
    </button>
  </mat-card-actions>
</mat-card>
