<mat-card>
  <form [formGroup]="searchForm" (ngSubmit)="next()">
    <mat-card-title>
      <h3>Search</h3>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          required
          formControlName="email"
          autofocus
        />
        <mat-error *ngIf="searchForm.controls['email'].status === 'INVALID'">
          Required Field
        </mat-error>
      </mat-form-field>
      <mat-checkbox required formControlName="agree" color="primary">
        Agree with terms and services
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" (click)="back()">BACK</button>
      <button
        mat-raised-button
        color="primary"
        class="float-right"
        [disabled]="searchForm.invalid"
        type="submit"
      >
        NEXT
      </button>
    </mat-card-actions>
  </form>
</mat-card>
